body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #dee;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

canvas {
    border: 3px solid rgb(124, 158, 0);
    display: block;
    position: relative;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.12);
}

.score {
    color: #272727;
    text-shadow: 0 0 8px #fff;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}